@charset "utf-8";
/* CSS Document */
.stickie {
	width: 225px;
	height: 225px;
	background-color:#FFFF66;
	position: absolute;
	top: 127px;
	left: 75px;
	visibility: hidden;
}
.dragtop {
	width: 100%;
	height: 24px;
	background-color: #CCC;
}
